<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Content-Kart Application Test Automation Test Suite">

	
<listeners>
		<listener class-name="com.ck.ExtentReportListener.ExtentReporterNG" />
	</listeners>
	
	<test name="Content-Kart App Test Cases">
		<classes>
			<class name="com.ck.qa.testcases.LoginPageTest"></class>
			<class name="com.ck.qa.testcases.DashboardTest"></class>
<class name="com.ck.qa.testcases.OrderContentTest"></class>
		</classes>
	</test>
</suite>